<div class="movieDetails">
  <div class="movieDetails_title">{{movie.title}}</div>
  <div class="movieDetails_releaseYear">({{movie.releaseYear}})</div>
  <div class="movieDetails_avgRating">Rating: {{movie.avgRating}} / 5</div>
  <a class="movieDetails_imdb" href='http://www.imdb.com/title/tt{{movieDetails.imdbMovieId}}'>IMDB page</a>
  <div class="movieDetails_mpaa">MPAA Rating: {{movie.mpaa}}</div>
  <div class="movieDetails_plotSummary">{{movie.plotSummary}}</div>
  <a href="/#list">Back to Home</a>
</div>
